extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container.container--cart
		.search.search_card.grid
			.search__title.serch__title_ttn
				h3.serch__title-text Корзина
		.table-products
			h3.table-products__title Горелка
			.table-products__item
				.table-products__item-cell
					.table-products__item-image
						img.table-products__item-image-img(src='img/table-product.svg' alt='')
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Комплектующая
						| 						CGNG35
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Артикул
						| 						584651238
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Горелка
						| 						M-.TN.S.xx.A.0.15
				.table-products__item-cell.table-products__item-option
					.table-products__item-option-number
						button.table-products__item-option-number-sign
							span.minus -
						input.table-products__item-option-number-text(type='text' value='1')
						button.table-products__item-option-number-sign +
				.table-products__item-cell.table-products__item-price
					p.table-products__item-option-text
						span.table-products__item-option-text-title Сумма
						| 						€ 360

		.table-products
			h3.table-products__title Комплектующие к горелке
			.table-products__item
				.table-products__item-cell
					.table-products__item-image
						img.table-products__item-image-img(src='img/table-product.svg' alt='')
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Комплектующая
						| 						CGNG35
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Артикул
						| 						584651238
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Горелка
						| 						M-.TN.S.xx.A.0.15
				.table-products__item-cell.table-products__item-option
					.table-products__item-option-number
						button.table-products__item-option-number-sign
							span.minus -
						input.table-products__item-option-number-text(type='text' value='1')
						button.table-products__item-option-number-sign +
				.table-products__item-cell.table-products__item-price
					p.table-products__item-option-text
						span.table-products__item-option-text-title Сумма
						| 						€ 360

			.table-products__item
				.table-products__item-cell
					.table-products__item-image
						img.table-products__item-image-img(src='img/table-product.svg' alt='')
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Комплектующая
						| 						CGNG35
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Артикул
						| 						584651238
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Горелка
						| 						M-.TN.S.xx.A.0.15
				.table-products__item-cell.table-products__item-option
					.table-products__item-option-number
						button.table-products__item-option-number-sign
							span.minus -
						input.table-products__item-option-number-text(type='text' value='1')
						button.table-products__item-option-number-sign +
				.table-products__item-cell.table-products__item-price
					p.table-products__item-option-text
						span.table-products__item-option-text-title Сумма
						| 						€ 360

			.table-products__item
				.table-products__item-cell
					.table-products__item-image
						img.table-products__item-image-img(src='img/table-product.svg' alt='')
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Комплектующая
						| 						CGNG35
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Артикул
						| 						584651238
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Горелка
						| 						M-.TN.S.xx.A.0.15
				.table-products__item-cell.table-products__item-option
					.table-products__item-option-number
						button.table-products__item-option-number-sign
							span.minus -
						input.table-products__item-option-number-text(type='text' value='1')
						button.table-products__item-option-number-sign +
				.table-products__item-cell.table-products__item-price
					p.table-products__item-option-text
						span.table-products__item-option-text-title Сумма
						| 						€ 360

			.table-products__item
				.table-products__item-cell
					.table-products__item-image
						img.table-products__item-image-img(src='img/table-product.svg' alt='')
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Комплектующая
						| 						CGNG35
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Артикул
						| 						584651238
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Горелка
						| 						M-.TN.S.xx.A.0.15
				.table-products__item-cell.table-products__item-option
					.table-products__item-option-number
						button.table-products__item-option-number-sign
							span.minus -
						input.table-products__item-option-number-text(type='text' value='1')
						button.table-products__item-option-number-sign +
				.table-products__item-cell.table-products__item-price
					p.table-products__item-option-text
						span.table-products__item-option-text-title Сумма
						| 						€ 360

			.table-products__item
				.table-products__item-cell
					.table-products__item-image
						img.table-products__item-image-img(src='img/table-product.svg' alt='')
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Комплектующая
						| 						CGNG35
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Артикул
						| 						584651238
				.table-products__item-cell.table-products__item-option
					p.table-products__item-option-text
						span.table-products__item-option-text-title Горелка
						| 						M-.TN.S.xx.A.0.15
				.table-products__item-cell.table-products__item-option
					.table-products__item-option-number
						button.table-products__item-option-number-sign
							span.minus -
						input.table-products__item-option-number-text(type='text' value='1')
						button.table-products__item-option-number-sign +
				.table-products__item-cell.table-products__item-price
					p.table-products__item-option-text
						span.table-products__item-option-text-title Сумма
						| 						€ 360


		.amount
			.amount__left
				.amount__comment
					p.amount__comment-desc
						| Вы можете оставить комментарий менеджеру по интересующему вас вопросу
						| (условия оплаты, срок поставки, с какого склада забирать) и прикрепить файл необходимого продукта.
					textarea.amount__comment-textarea(name='' id='' cols='30' rows='10' placeholder='| Введите текст сообщения или прикрепите файл')
					input.amount__comment-file(type='file')
			.amount__right
				.amount__body
					p.amount__body-summ
						span.amount__body-summ-title Общая сумма
						| € 9600
				.amount__buttons
					.amount__buttons-button
						a.amount__buttons-button-link(href='') Оставить комментарий
					.amount__buttons-button
						a.amount__buttons-button-link.amount__buttons-button-link_red(data-remodal-target='modal-2' href='') Оформить заказ


	.remodal(data-remodal-id='modal-2' data-remodal-options='hashTracking: false, closeOnOutsideClick: true')
		button.remodal-close(data-remodal-action='close')
		.prev-h1 Заявка отправлена
		p
			| Спасибо, ваш заказ принят в обработку, менеджер свяжется с вами в ближайшее время
		br
		br
		button.remodal-confirm(data-remodal-action='confirm') Закрыть
