extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.main-inner
		.container.center
			.log-in
				.log-in__title.log-in__title--small Пароль успешно изменен
				form.log-in__form.grid
					.log-in__buttons.log-in__buttons--center
						a.btn(href='') Закрыть

